{% extends "base.html" %}
{% set active = "Catalog" %}
{% block content %}
<div class="body">
    <div class="body-title">
        <div class="body-title-opt1 active" onclick="window.location='/';">E2E NETWORK SLICES</div>
        <div class="body-title-opt2" onclick="window.location='/nsst';">NETWORK SUBNETS SLICES</div>
    </div>
    <div class="body-main">
        <div class="body-main-title">E2E Network Slice</div>
        <div class="body-main-table">
            <table id="data" class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Sharing</th>
                        <th>Deploy</th>
                    </tr>
                </thead>
                <tbody>
                    {% for case in use_cases %}
                    <tr data-bs-toggle="modal"
                    data-bs-target="#sec-modal{{case.id}}" data-target='#edit{{ case.id }}'>
                        <td>{{ case.id }}</td>
                        <td>{{ case.name }}</td>
                        <td>{{ case.description }}</td>
                        <td>{{ case.status }}</td>
                        <td >{{ case.is_shared }}</td>
                        <td><button type="button" class="btn btn-primary">Deploy</button></td>
                    </tr>

                    <!-- SEC Modal -->
                    <div class="modal fade" id="sec-modal{{case.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-xl" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add Sec Network Slice Template</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12">
                                            <h5 class="modal-title" id="exampleModalLabel{{case.id}}">NST</h5>
                                            <pre id="teste{{case.id}}">
                                                <script>
                                                    var tt = '{{ case.NST|tojson }}'
                                                    document.querySelector("#teste{{case.id}}").innerHTML = JSON.stringify(JSON.parse(tt), null, 2)
                                                </script>
                                            </pre>
                            
                                        </div>

                                    </div>
                                </div>
                                
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" onclick="console.log('{{case.NST|tojson}}')">Deploy</button>
                            </div>
                        </div>
                    </div>
                    </div>

                    {% endfor %}
                </tbody>
            </table>
            <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal"
            data-bs-target="#GSMAModal">Request Slice with GSMA Template</button>

            <!-- <button type="button" class="btn btn-primary btn-lg" onclick="">Deploy with GSMA Template</button> -->
            <!-- <button type="button" class="btn btn-primary btn-lg" onclick="allocNSSI( {{ use_cases }} )">Deploy Slice</button> -->
            <!-- <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal"
                data-bs-target="#exampleModal">Add Slice Template</button> -->
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="GSMAModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Network Subnet Slice Template</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="subslice-template-gsma-form">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 p-3 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputName" placeholder="Name" name="name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2  p-3 col-form-label">GSMA Request Structure</label>
                        <div class="col-sm-10">
                            <textarea type="text" class="form-control" id="inputGSMA" placeholder="{availability:1}" name="description" rows="20" cols="80"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="createSliceGSMA($('#subslice-template-gsma-form')[0])">Request Slice</button>
            </div>
        </div>
    </div>
</div>


<!-- SEC Modal -->
<div class="modal fade" id="sec-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Sec Network Slice Template</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <h5 class="modal-title" id="exampleModalLabel">GSMA Requirements</h5>
                        <pre>
{
    "availability": 1,
    "MMTel": true,
    "SSC": 1,
    "DN": 1,
    "Supported Data Network": "internet",
    "SSQ": {
        "Priority Level": 1,
        "Packet Delay Budget": 0.000120,
        "Packet Error Rate": 0.00000010,
        "Maximum Data Burts Volume": 0.0010,
        "Guaranteed Flow Bit Rate - Downlink": 100000,
        "Guaranteed Flow Bit Rate - Uplink": 100000,
        "Max Flow Bit Rate - Downlink": 100000,
        "Max Flow Bit Rate - Uplink": 100000,
        "Maximum Packet Loss Rate":100000
    },
    "N3GPP Support": true,
    "Supported device velocity": 10,
    "Synchronicity": "Between BS and UE",
    "Accuracy": 0.0000001,
    "Shared": false,
    "UE density": 10000,
    "Maximum number of UEs": 100000,
    "Maximum number of PDU sessions": 1000,
    "Exposed": true
}
                        </pre>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="createNST($('#slice-template-form')[0])">Create Template</button>
        </div>
    </div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Network Slice Template</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="slice-template-form">
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 p-3 col-form-label">Name</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Name" name="name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 p-3 col-form-label">Description</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Description" name="description">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 p-3 col-form-label">RAN Template</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="ran_template">
                            {% for nsst_ran in nsst_ran_list %}
                            <option>{{ nsst_ran.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 p-3 col-form-label">TN Template</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="core_template">
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 p-3 col-form-label">Core Template</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="core_template">
                            {% for nsst_core in nsst_core_list %}
                            <option>{{ nsst_core.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">Shared?</div>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck1" name="is_shared">
                            <label class="form-check-label" for="gridCheck1">
                                True
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="createNST($('#slice-template-form')[0])">Create Template</button>
        </div>
    </div>
</div>
</div>
{% endblock %}