{% extends "base.html" %}
{% set active = "Dashboard" %}
{% block content %}
<div class="body">
    <div class="body-title">
        <div class="body-title-opt1 active" onclick="window.location='/dashboard-topology';">TOPOLOGY</div>
        <div class="body-title-opt1 " onclick="window.location='/dashboard-metrics';">METRICS</div>
        <div class="body-title-opt2 " onclick="window.location='/dashboard-tracing';">TRACING</div>
        <div class="body-title-opt2 " onclick="window.location='/dashboard-logs';">LOGS</div>
    </div>
    <div class="body-main">
        <a href="http://67.205.130.238:8181/onos/ui/#/topo2" target="_blank" rel="noopener noreferrer" ><img src="../onos-topology.png" width=100% height=100%></a>
</div>
</div>
{% endblock %}