{% extends "base.html" %}
{% set active = "Instances" %}
{% block content %}
<div class="body">
    <div class="body-title">
        <div class="body-title-opt1 active" onclick="window.location='/';">NETWORK SLICES INSTANCES</div>
        <div class="body-title-opt1 " onclick="window.location='/';">NETWORK SUBSLICES INSTANCES</div>

    </div>
    <div class="body-main">
        <div class="body-main-title">Network Slice Instances</div>
        <div class="body-main-table">
            <table id="data" class="table table-striped">
                <thead>
                    <tr>
                        <th>S-NSSAI</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Status</th>
                        <!-- <th>Sharing</th> -->
                    </tr>
                </thead>
                <tbody>
                    {% for case in nsi_list %}
                    <tr>
                        <td> <a href="/dashboard-metrics?s_nssai={{ case.S_NSSAI }}">{{ case.S_NSSAI }}</a></td>
                        <!-- <td> <a href="/dashboard-metrics?s_nssai=1274401">{{ case.S_NSSAI }}</a></td> -->
                        <td>{{ case.name }}</td>
                        <td>{{ case.description }}</td>
                        <td>{{ case.status}}</td>
                        <!-- <td>{{ case.is_shared }}</td> -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}