{% extends "base.html" %}
{% set active = "Templates" %}
{% block content %}
<div class="body">
    <div class="body-title">
        <div class="body-title-opt1 " onclick="window.location='/';">E2E NETWORK SLICES</div>
        <div class="body-title-opt2 active" onclick="window.location='/nsst';">NETWORK SUBNETS SLICES</div>
    </div>
    <div class="body-main">
        <div class="body-main-title">Network Subnet Slice</div>
        <div class="body-main-table">
            <table id="data" class="table table-striped">
                <thead>
                    <tr>
                        <th>Domain</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Sharing</th>
                    </tr>
                </thead>
                <tbody>
                    {% for case in use_cases %}
                    <tr>
                        <td>{{ case.domain }}</td>
                        <td>{{ case.name }}</td>
                        <td>{{ case.description }}</td>
                        <td>{{ case.status }}</td>
                        <td>{{ case.is_shared }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal"
                data-bs-target="#exampleModal">Add Subnet Slice Template</button>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Network Subnet Slice Template</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="subslice-template-form">
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 p-3 col-form-label">Domain</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="selectorDomain" name="domain">
                                    <option>RAN</option>
                                    <option>TN</option>
                                    <option>Core</option>
                                </select>
                            </div>
                        </div>
                         <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2  p-3  col-form-label">Network Component</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="selectorInputInterface" name="inputInterface">
                                    <option>RU</option>
                                    <option>DU</option>
                                    <option>CU</option>
                                    <option>RanTester</option>
                                    <option>UEN3GPP</option>
                                    <option>Backhaul</option>
                                    <option>N3IWF</option>
                                    <option>AMF</option>
                                    <option>SMF</option>
                                    <option>AUSF</option>
                                    <option>NRF</option>
                                    <option>NSSF</option>
                                    <option>PCF</option>
                                    <option>UDM</option>
                                    <option>UPF</option>
                                </select>
                            </div>
                        </div>

                        <!-- <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2  p-3  col-form-label">Input interface</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="selectorInputInterface" name="inputInterface">
                                    <option>RU</option>
                                    <option>DU</option>
                                    <option>CU</option>
                                    <option>N3IWF</option>
                                    <option>Fronthaul</option>
                                    <option>Midhaul</option>
                                    <option>Backhaul</option>
                                    <option>AMF</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2  p-3 col-form-label">Ouput interface</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="selectorOutInterface" name="outputInterface">
                                    <option>RU</option>
                                    <option>DU</option>
                                    <option>CU</option>
                                    <option>N3IWF</option>
                                    <option>Fronthaul</option>
                                    <option>Midhaul</option>
                                    <option>Backhaul</option>
                                    <option>Empty</option>
                                </select>
                            </div>
                        </div> -->
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2  p-3 col-form-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputName" placeholder="Name" name="name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2  p-3 col-form-label">Description</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputDescription" placeholder="Description" name="description">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="form-group">
                                <label for="exampleFormControlFile1" class="p-3">File</label>
                                <input type="file" class="form-control-file" id="inputFile" name="file">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary" onclick="createNSST($('#subslice-template-form')[0])">Create Template</button> -->
                    <button type="button" class="btn btn-primary" onclick="addAMF_temp($('#subslice-template-form')[0])">Create Template</button>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}