{% extends "base.html" %}
{% set active = "Templates" %}
{% block content %}
<div class="body">
    <div class="body-title">
        <div class="body-title-opt1 active" onclick="window.location='/';">NETWORK SLICES TEMPLATES</div>
        <div class="body-title-opt2" onclick="window.location='/nsst';">NETWORK SLICES SUBNETS TEMPLATES</div>
    </div>
    <div class="body-main">
        <div class="body-main-title">Network Slice Use Cases</div>
        <div class="body-main-table">
            <table id="data" class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Sharing</th>
                        <th>Deploy</th>
                    </tr>
                </thead>
                <tbody>
                    {% for case in use_cases %}
                    <tr data-bs-toggle="modal"
                    data-bs-target="#sec-modal">
                        <td>{{ case.id }}</td>
                        <td>{{ case.name }}</td>
                        <td>{{ case.description }}</td>
                        <td>{{ case.status }}</td>
                        <td >{{ case.is_shared }}</td>
                        <td><button type="button" class="btn btn-primary btn-lg" onclick="allocNSSI( {{ case.id }} )">Deploy</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- <button type="button" class="btn btn-primary btn-lg" onclick="allocNSSI( {{ use_cases }} )">Deploy Slice</button> -->
            <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal"
                data-bs-target="#exampleModal">Add Slice Template</button>
        </div>
    </div>
</div>
<!-- SEC Modal -->
<div class="modal fade" id="sec-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Sec Network Slice Template</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-4">
                        <h5 class="modal-title" id="exampleModalLabel">NST</h5>
                        <pre>
global:
    projectName: free5gc
    amf:
    n2if:  # NGAP
        ipAddress: 10.100.50.249
    service:
        ngap:
        enabled: false
        name: amf-n2
        port: 38412
        nodeport: 31412
        protocol: SCTP
        type: NodePort
    n2network:
    name: n2network
    masterIf: eth0
    subnetIP: 10.100.50.248
    cidr: 29
    gatewayIP: 10.100.50.254
    excludeIP: 10.100.50.254
    n3network:
    name: n3network
    masterIf: eth0
    subnetIP: 10.100.50.232
    cidr: 29
    gatewayIP: 10.100.50.238
    excludeIP: 10.100.50.238
                        </pre>
        
                    </div>
                    <div class="col-4">
                        <h5 class="modal-title" id="exampleModalLabel">NSST RN</h5>
                        <pre>
configuration:
    n3iwfName: N3IWF
    ngapIpList:
        - 127.0.0.18
    sbi:
        scheme: http
        registerEPv4: 127.0.0.18
        bindingIPv4: 127.0.0.18
        n3:
        port: 8805
        targetport: 8805
        protocol: UDP
        nwu:
        port: 500
        targetport: 500
        nodePort: 31500
        protocol: UDP
        nastcp:
        port: 32000
        targetport: 32000
        nodePort: 32000
        protocol: TCP
    supportDnnList:
        - internet
    nrfUri: http://127.0.0.18:8080
    security:
        integrityOrder:
        - NIA2
        cipheringOrder:
        - NEA0
    networkName:
        full: free5gc
        short: free
    locality: area1
    
    helmCharts:
        - n3iwf.yml
                        </pre>
        
                    </div>
                    <div class="col-4">
                        <h5 class="modal-title" id="exampleModalLabel">NSST CN</h5>
                        <pre>
configuration:
    amfName: amf
    ngapIpList:
        - 127.0.0.18
    sbi:
        scheme: http
        registerEPv4: 127.0.0.18
        bindingIPv4: 127.0.0.18
        n1:
        port: 38412
        targetport: 31412
        protocol: SCTP
        n2:
        port: 8805
        targetport: 8805
        protocol: UDP
    supportDnnList:
        - internet
    nrfUri: http://127.0.0.18:8080
    security:
        integrityOrder:
        - NIA2
        cipheringOrder:
        - NEA0
    networkName:
        full: free5gc
        short: free
    locality: area1

    helmCharts:
        - sba_core.yml
                        </pre>
        
                    </div>

                </div>
            </div>
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="createNST($('#slice-template-form')[0])">Create Template</button>
        </div>
    </div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Network Slice Template</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="slice-template-form">
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 p-3 col-form-label">Name</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Name" name="name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 p-3 col-form-label">Description</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Description" name="description">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 p-3 col-form-label">RAN Template</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="ran_template">
                            {% for nsst_ran in nsst_ran_list %}
                            <option>{{ nsst_ran.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 p-3 col-form-label">TN Template</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="core_template">
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 p-3 col-form-label">Core Template</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="core_template">
                            {% for nsst_core in nsst_core_list %}
                            <option>{{ nsst_core.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">Shared?</div>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck1" name="is_shared">
                            <label class="form-check-label" for="gridCheck1">
                                True
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="createNST($('#slice-template-form')[0])">Create Template</button>
        </div>
    </div>
</div>
</div>
{% endblock %}